.Header-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Header-list li {
    display: inline-block;
}

Header {
    height: 56px;
    width: 100%;
    background-color: #000957;
    margin-bottom: 100px;
}